%p Thank you for signing up, #{@user.username}. We're excited you're here!
%p Stock Market App is an application that helps brokers and buyers trade their stocks on a whole new level.
%span Trade and invest in our stocks and be one of the top traders in the Philippines
 