.d-flex.justify-content-evenly
  .card.flex-column.shadow.p-3.mb-5.bg-secondary.rounded.form-outer-container.order-form
    .form-container.order-form-card
      .form-title
        %div
          %h3 Search for Existing Stocks
        .text-dark
          = render "search_form"
  .card.flex-column.shadow.p-3.mb-5.bg-secondary.rounded.form-outer-container.order-form
    .form-container.order-form-card
      .form-title
        %div
          %h3 Add New Stock Manually
        .text-dark
          = render "form", stock: @stock
