.d-flex.justify-content-center
  .card.flex-column.shadow.p-3.mb-5.bg-secondary.rounded.form-outer-container.order-form
    .form-container.order-form-card
      .form-title
        %div
          %h2 Top Up
          %h6 ($1,000,000 limit per transaction)
        .text-dark
          = form_with url: stocks_add_money_path do |f|
            .form-floating.mb-4
              = f.number_field :money, in: 0.01..1000000, step: 0.01, class: "form-control", id: "money", placeholder: "Enter Amount"
              %label(for="floatingInput") Enter Amount
            .d-flex.justify-content-evenly
              = f.submit :Submit, class: "btn btn-orange"
              = link_to "Back", stocks_market_path, class: "btn btn-danger"