.home-container
  %h1.title Stock Trading App
  %p.description Way to higher financial attitude. Secure your future in just few clicks.
  = link_to 'Sign up for free', new_user_registration_path, class: "btn btn-secondary"