body.rails_admin {
  #secondary-navigation {
    li:nth-child(2) {
      display: none;
    }
  }

  form[data-title="Edit User 'User #1'"] {
    #user_user_type_field,
    #user_approved_field,
    #user_stock_ids_field,
    #user_order_ids_field,
    #user_money_field {
      display: none;
    }
  }
}
