.form-title {
  text-align: center;
  margin: 20px 0;
}

.text-orange {
  color: #F2A76A;
}

.form-outer-container{
  margin-top: 5rem;
}

.form-card {
  min-width: 180px;
  width: 20vw;
}

.btn-wide {
  width: 100%;
}

.btn-margin {
  margin: 10px 0;
}