html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  color: #FFF;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.btn-space {
  margin: 10px 10px;
}

.btn-orange {
  background-color: #F2A76A;
  color: #FFF;
  &:hover {
      color: #FFF;
  }
}

.center {
  text-align: center;
}

.order-form-outer-container{
  margin-top: 2.5rem;
}

.order-form-card {
  min-width: 180px;
  width: 20vw;
}

.form-title {
  text-align: center;
  margin: 20px 0;
}